In [1]:
import pandas as pd
import numpy as np

In [2]:
train_file='loan_data_train.csv'
test_file='loan_data_test.csv'

In [3]:
ld_train=pd.read_csv(train_file)
ld_test=pd.read_csv(test_file)

In [4]:
ld_test.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years

In [5]:
ld_train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [6]:
ld_train.shape

(2200, 15)

In [7]:
ld_test.shape

(300, 14)

In [8]:
#note: cant concatinate between 15 columns and 14 columns both should be same

In [9]:
ld_test['Interest.Rate']=np.nan

In [10]:
ld_train['data'] = 'train'
ld_test['data'] = 'test'

In [11]:
ld_train.shape #now a new column is created as Data with train as values

(2200, 16)

In [12]:
ld_test.shape #now a new column is created as Data with test as values and 
            #another column is added as interest rate  with values as np.nan

(300, 16)

In [13]:
ld_test=ld_test[ld_train.columns] #checking ld_test columns with ld_train column whether they both are matching
#because only when the column name is matching we can concat both .

In [14]:
ld_all=pd.concat([ld_train,ld_test],axis=0)

In [15]:
ld_all.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train

In [16]:
ld_all.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [17]:
#id,amount funded by investors :drop
#Interest rate&debt to income ratio: remove % 
#FICO range: split into 2 variable and take the average
#employment length : convert to number

In [18]:
ld_all.drop(['ID','Amount.Funded.By.Investors'],axis=1,inplace=True)

In [19]:
for col in['Interest.Rate','Debt.To.Income.Ratio']:
    ld_all[col]=ld_all[col].str.replace('%','')

In [20]:
for col in ['Amount.Requested','Interest.Rate','Debt.To.Income.Ratio','Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    ld_all[col]=pd.to_numeric(ld_all[col],errors='coerce') #all the mentioned values are given as string should chnage as integer

In [21]:
#'errors=coerce' is because if character is there v cannot convert to numeric python will stop hence we are giving an exemption stating the python to proceed even if any character are there

In [22]:
ld_all.dtypes #all number that are reflecting as objects previously are changed to float

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [23]:
ld_all.head()

,Amount.Requested,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,25000.0,18.49,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,720-724,11.0,15210.0,3.0,5 years,train
1,19750.0,17.27,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,710-714,14.0,19070.0,3.0,4 years,train
2,2100.0,14.33,36 months,major_purchase,3.50,LA,OWN,1000.00,690-694,13.0,893.0,1.0,< 1 year,train
3,28000.0,16.29,36 months,credit_card,19.62,NV,MORTGAGE,7083.33,710-714,12.0,38194.0,1.0,10+ years,train
4,24250.0,12.23,60 months,credit_card,23.79,OH,MORTGAGE,5833.33,730-734,6.0,31061.0,2.0,10+ years,train

In [24]:
k=ld_all['FICO.Range'].str.split("-",expand=True).astype(float)#expand splits and creates 2 variables(K0,k1)
ld_all['fico']=0.5*(k[0]+k[1])
del ld_all['FICO.Range'] #deleting this becoz v have created a new fico without range above.

In [25]:
ld_all.head()

,Amount.Requested,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data,fico
0,25000.0,18.49,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,11.0,15210.0,3.0,5 years,train,722.0
1,19750.0,17.27,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,14.0,19070.0,3.0,4 years,train,712.0
2,2100.0,14.33,36 months,major_purchase,3.50,LA,OWN,1000.00,13.0,893.0,1.0,< 1 year,train,692.0
3,28000.0,16.29,36 months,credit_card,19.62,NV,MORTGAGE,7083.33,12.0,38194.0,1.0,10+ years,train,712.0
4,24250.0,12.23,60 months,credit_card,23.79,OH,MORTGAGE,5833.33,6.0,31061.0,2.0,10+ years,train,732.0

In [26]:
ld_all['Employment.Length'].value_counts() #problem here is +,<,years,year hence we are replacing all this so that the value is numeric

10+ years    653
< 1 year     249
2 years      243
3 years      235
5 years      202
4 years      191
1 year       177
6 years      163
7 years      127
8 years      108
9 years       72
.              2
Name: Employment.Length, dtype: int64

In [27]:
ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('years','')
ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('year','')

In [28]:
ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[:2]=='10',10,ld_all['Employment.Length'])

In [29]:
ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[:0]=='<',0,ld_all['Employment.Length'])
# removing < and replacing it with zero

In [30]:
ld_all['Employment.Length']=pd.to_numeric(ld_all['Employment.Length'],errors='coerce')

In [31]:
cat_cols=ld_all.select_dtypes(['object']).columns #checking all categorical columns in dataset

In [32]:
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership', 'data'], dtype='object')

In [33]:
cat_cols=cat_cols[:-1] #removing 'Data' from cat cols since v only created data column.

In [34]:
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [35]:
ld_all[col]

0       15210.0
1       19070.0
2         893.0
3       38194.0
4       31061.0
5          90.0
6        8474.0
7       12306.0
8       56984.0
9           0.0
10       6490.0
11       6810.0
12      13667.0
13        715.0
14      15093.0
15      11677.0
16      17292.0
17       3690.0
18      15301.0
19      11586.0
20      11369.0
21      13830.0
22      15308.0
23      15377.0
24       2432.0
25      21633.0
26       7377.0
27      14717.0
28      11058.0
29       5408.0
         ...
270      8101.0
271     18898.0
272       929.0
273      1900.0
274     28146.0
275      2031.0
276      4560.0
277         0.0
278    100842.0
279     21637.0
280     10042.0
281     31152.0
282     73813.0
283     16163.0
284      6040.0
285     24495.0
286      6163.0
287      4058.0
288     12724.0
289      7020.0
290     10481.0
291     23773.0
292      3430.0
293         0.0
294     29576.0
295      3923.0
296      6023.0
297      6944.0
298     24383.0
299     14422.0
Name: Revolving.CREDIT.Balance, Length: 2500, dtype: float64

In [36]:
for col in cat_cols:
    freqs=ld_all[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        ld_all[name]=(ld_all[col]==cat).astype(int)
    del ld_all[col]

In [37]:
ld_all

,Amount.Requested,Interest.Rate,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data,fico,...,State_MO,State_NV,State_OR,State_SC,State_WI,State_KY,State_LA,State_KS,Home.Ownership_MORTGAGE,Home.Ownership_RENT
0,25000.0,18.49,27.56,8606.56,11.0,15210.0,3.0,5.0,train,722.0,...,0,0,0,0,0,0,0,0,1,0
1,19750.0,17.27,13.39,6737.50,14.0,19070.0,3.0,4.0,train,712.0,...,0,0,0,0,0,0,0,0,1,0
2,2100.0,14.33,3.50,1000.00,13.0,893.0,1.0,NaN,train,692.0,...,0,0,0,0,0,0,1,0,0,0
3,28000.0,16.29,19.62,7083.33,12.0,38194.0,1.0,10.0,train,712.0,...,0,1,0,0,0,0,0,0,1,0
4,24250.0,12.23,23.79,5833.33,6.0,31061.0,2.0,10.0,train,732.0,...,0,0,0,0,0,0,0,0,1,0
5,5400.0,8.90,6.27,3000.00,2.0,90.0,2.0,NaN,train,787.0,...,0,0,0,0,0,0,0,0,0,1
6,16000.0,22.47,11.27,4791.67,5.0,8474.0,0.0,2.0,train,667.0,...,0,0,0,0,0,0,0,0,0,1
7,6400.0,7.51,9.58,6400.00,11.0,12306.0,1.0,NaN,train,737.0,...,0,0,0,0,0,0,0,0,0,1
8,24000.0,12.99,15.54,8333.33,24.0,56984.0,0.0,NaN,train,742.0,...,0,0,0,0,0,0,0,0,1,0
9,8000.0,7.62,0.00,3500.00,7.0,0.0,1.0,NaN,train,767.0,...,0,0,0,0,0,0,0,0,1,0
10,9000.0,10.16,13.76,5166.67,10.0,6490.0,0.0,10.0,train,712.0,...,0,0,0,0,0,0,0,0,0,1
11,13000.0,9.99,8.77,10500.00,8.0,6810.0,0.0,10.0,train,802.0,...,0,0,0,0,0,0,0,0,1,0
12,10000.0,14.22,12.24,2541.67,4.0,13667.0,0.0,8.0,train,682.0,...,0,0,0,0,0,0,0,0,0,1
13,3600.0,13.67,16.41,5113.00,10.0,715.0,1.0,NaN,train,692.0,...,0,0,0,0,0,0,0,0,1,0
14,7350.0,10.74,29.82,5000.00,15.0,15093.0,1.0,4.0,train,747.0,...,0,0,0,0,0,0,0,0,1,0
15,17000.0,11.99,12.69,4666.67,17.0,11677.0,2.0,10.0,train,747.0,...,0,0,0,0,0,0,0,0,1,0
16,18825.0,21.00,19.22,4583.33,8.0,17292.0,2.0,10.0,train,682.0,...,0,0,0,0,0,0,0,0,0,1
17,4200.0,17.27,14.78,2083.33,7.0,3690.0,0.0,NaN,train,662.0,...,0,0,0,0,0,0,0,0,0,1
18,5000.0,11.54,10.36,3416.67,17.0,15301.0,7.0,1.0,train,672.0,...,0,0,0,0,0,0,0,0,0,1
19,3700.0,7.88,10.17,4985.00,6.0,11586.0,4.0,NaN,train,722.0,...,0,0,0,0,0,0,0,0,1,0
20,6625.0,17.77,33.43,2916.67,13.0,11369.0,0.0,1.0,train,667.0,...,0,0,0,0,0,0,0,0,0,1
21,15000.0,12.12,19.16,5000.00,18.0,13830.0,0.0,10.0,train,707.0,...,0,0,0,0,0,0,0,0,0,1
22,29175.0,21.00,8.83,12500.00,9.0,15308.0,2.0,4.0,train,697.0,...,0,0,0,0,0,0,0,0,0,1
23,6000.0,11.89,9.77,4166.67,13.0,15377.0,1.0,10.0,train,697.0,...,0,0,0,0,0,0,0,0,0,1
24,10000.0,13.47,5.59,4583.00,6.0,2432.0,1.0,4.0,train,692.0,...,0,0,0,0,0,0,0,0,0,1
25,22000.0,14.65,29.26,3912.00,8.0,21633.0,0.0,10.0,train,707.0,...,0,0,0,0,0,0,0,0,1,0
26,18000.0,24.89,14.88,4000.00,10.0,7377.0,3.0,8.0,train,667.0,...,0,0,0,0,0,0,0,0,0,1
27,12000.0,8.90,12.06,5000.00,11.0,14717.0,0.0,4.0,train,717.0,...,0,0,0,0,0,0,0,0,0,1
28,24000.0,7.62,14.22,6833.33,8.0,11058.0,0.0,10.0,train,762.0,...,0,0,0,0,0,0,0,0,1,0
29,5000.0,12.12,11.08,1833.33,7.0,5408.0,0.0,10.0,train,687.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,3750.0,NaN,16.98,1650.00,6.0,8101.0,0.0,4.0,test,677.0,...,0,0,0,0,0,0,0,0,0,1
271,16000.0,NaN,21.54,8903.25,18.0,18898.0,1.0,10.0,test,742.0,...,0,0,0,0,0,0,0,0,0,0
272,4000.0,NaN,0.52,5416.67,4.0,929.0,0.0,1.0,test,757.0,...,0,0,0,0,0,0,0,0,0,1
273,25000.0,NaN,5.52,8666.67,9.0,1900.0,4.0,10.0,test,762.0,...,0,0,0,0,0,0,0,0,1,0
274,12000.0,NaN,21.99,5416.67,8.0,28146.0,0.0,10.0,test,732.0,...,0,0,0,0,0,0,0,0,1,0
275,2000.0,NaN,8.01,5833.33,7.0,2031.0,0.0,NaN,test,752.0,...,0,0,0,0,0,0,0,0,0,1
276,3825.0,NaN,24.68,2495.83,8.0,4560.0,1.0,4.0,test,672.0,...,0,0,0,0,0,0,0,0,0,1
277,4800.0,NaN,0.00,4583.33,2.0,0.0,0.0,6.0,test,677.0,...,0,0,0,0,0,0,0,0,0,1
278,24250.0,NaN,21.90,5000.00,15.0,100842.0,1.0,NaN,test,742.0,...,0,0,0,0,0,0,0,0,0,0
279,20000.0,NaN,19.82,6750.00,14.0,21637.0,0.0,5.0,test,687.0,...,0,0,0,0,0,0,0,0,1,0
280,14400.0,NaN,18.84,4166.67,7.0,10042.0,3.0,9.0,test,662.0,...,1,0,0,0,0,0,0,0,1,0
281,22000.0,NaN,33.93,5083.33,14.0,31152.0,2.0,10.0,test,672.0,...,0,0,0,0,0,0,0,0,1,0
282,35000.0,NaN,15.75,18750.00,21.0,73813.0,1.0,4.0,test,692.0,...,0,0,0,0,0,0,0,0,1,0
283,5600.0,NaN,26.35,3833.33,19.0,16163.0,0.0,5.0,test,667.0,...,0,0,0,1,0,0,0,0,0,1
284,12000.0,NaN,3.90,7083.33,7.0,6040.0,1.0,2.0,test,672.0,...,0,0,0,0,0,0,0,0,0,1
285,2500.0,NaN,10.96,6166.67,14.0,24495.0,0.0,10.0,test,732.0,...,0,0,0,0,0,0,0,0,1,0
286,7000.0,NaN,12.03,3400.00,8.0,6163.0,1.0,NaN,test,692.0,...,0,0,0,0,0,0,0,0,0,1
287,15775.0,NaN,3.37,4000.00,11.0,4058.0,1.0,10.0,test,712.0,...,0,0,0,0,0,0,0,0,0,1
288,10000.0,NaN,22.66,2083.33,8.0,12724.0,0.0,9.0,test,717.0,...,0,0,0,0,0,0,0,0,0,1
289,1600.0,NaN,5.36,2427.00,5.0,7020.0,0.0,3.0,test,702.0,...,0,0,0,0,0,0,0,0,0,1
290,5500.0,NaN,27.83,1541.67,5.0,10481.0,1.0,NaN,test,677.0,...,0,0,0,0,0,0,0,0,0,0
291,14000.0,NaN,9.89,9000.00,17.0,23773.0,0.0,4.0,test,762.0,...,0,0,0,0,0,0,0,0,1,0
292,1000.0,NaN,24.40,3000.00,5.0,3430.0,1.0,3.0,test,667.0,...,0,0,0,0,0,0,0,0,0,0
293,3000.0,NaN,11.31,3500.00,9.0,0.0,2.0,3.0,test,737.0,...,0,0,0,0,0,0,0,0,0,1
294,8250.0,NaN,24.45,3300.00,17.0,29576.0,2.0,8.0,test,757.0,...,0,0,0,0,0,0,0,0,1,0
295,12000.0,NaN,13.91,7083.33,7.0,3923.0,2.0,7.0,test,707.0,...,0,1,0,0,0,0,0,0,1,0
296,5000.0,NaN,17.22,4000.00,10.0,6023.0,0.0,10.0,test,707.0,...,0,0,0,0,0,0,0,0,0,0
297,4375.0,NaN,9.09,2916.67,9.0,6944.0,2.0,6.0,test,672.0,...,0,0,0,0,0,0,0,0,0,1
298,13600.0,NaN,12.85,5651.33,13.0,24383.0,0.0,10.0,test,677.0,...,0,0,0,0,0,0,0,0,0,1
299,6000.0,NaN,7.64,5184.75,8.0,14422.0,0.0,2.0,test,677.0,...,0,0,0,0,0,0,0,0,1,0

In [38]:
ld_all[name]

0      0
1      0
2      0
3      0
4      0
5      1
6      1
7      1
8      0
9      0
10     1
11     0
12     1
13     0
14     0
15     0
16     1
17     1
18     1
19     0
20     1
21     1
22     1
23     1
24     1
25     0
26     1
27     1
28     0
29     1
      ..
270    1
271    0
272    1
273    0
274    0
275    1
276    1
277    1
278    0
279    0
280    0
281    0
282    0
283    1
284    1
285    0
286    1
287    1
288    1
289    1
290    0
291    0
292    0
293    1
294    0
295    0
296    0
297    1
298    1
299    0
Name: Home.Ownership_RENT, Length: 2500, dtype: int32

In [39]:
ld_all.isnull().sum()

Amount.Requested                     5
Interest.Rate                      300
Debt.To.Income.Ratio                 1
Monthly.Income                       3
Open.CREDIT.Lines                    9
Revolving.CREDIT.Balance             5
Inquiries.in.the.Last.6.Months       3
Employment.Length                  329
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_MN                             0
State_AL                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [40]:
for col in ld_all.columns:
    if (col not in ['Interest.Rate','data'])& (ld_all[col].isnull().sum()>0):
        ld_all.loc[ld_all[col].isnull(),col]=ld_all.loc[ld_all['data']=='train',col].mean()

In [41]:
ld_all.isnull().sum()

Amount.Requested                     0
Interest.Rate                      300
Debt.To.Income.Ratio                 0
Monthly.Income                       0
Open.CREDIT.Lines                    0
Revolving.CREDIT.Balance             0
Inquiries.in.the.Last.6.Months       0
Employment.Length                    0
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_MN                             0
State_AL                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [42]:
ld_train=ld_all[ld_all['data']=='train']
del ld_train['data']
ld_test=ld_all[ld_all['data']=='test']
ld_test.drop(['Interest.Rate','data'],axis=1,inplace=True)

C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [43]:
del ld_all

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=2) 
#since test data doesnt have interest rate column we dont know whether the model is working properly or not
#hence we spilt the train data into 2 parts. train 1 for building model , train 2 for evaluation
#if train1 works properly then it mean it is good

In [46]:
x_train1=ld_train1.drop('Interest.Rate',axis=1)
y_train1=ld_train1['Interest.Rate']

In [47]:
from sklearn.linear_model import LinearRegression

In [48]:
lm=LinearRegression()

In [49]:
lm.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [50]:
lm.intercept_

75.84393249063939

In [51]:
list(zip(x_train1.columns,lm.coef_))

[('Amount.Requested', 0.00015624348630358402),
 ('Debt.To.Income.Ratio', -0.0036352356276018014),
 ('Monthly.Income', -2.613132342710984e-05),
 ('Open.CREDIT.Lines', -0.04020952149695005),
 ('Revolving.CREDIT.Balance', -3.874739521902981e-06),
 ('Inquiries.in.the.Last.6.Months', 0.3352396909489693),
 ('Employment.Length', 0.035806588007037066),
 ('fico', -0.08660230890674481),
 ('Loan.Length_36 months', -3.1530667034374193),
 ('Loan.Purpose_debt_consolidation', -0.4747230999742218),
 ('Loan.Purpose_credit_card', -0.6059020881272752),
 ('Loan.Purpose_other', 0.4325157357077756),
 ('Loan.Purpose_home_improvement', -0.37089168642120585),
 ('Loan.Purpose_major_purchase', -0.10866777320854354),
 ('Loan.Purpose_small_business', 0.058867903243395026),
 ('Loan.Purpose_car', 0.005554662792984555),
 ('Loan.Purpose_wedding', -0.7661783410788953),
 ('Loan.Purpose_medical', -0.4321502023835826),
 ('Loan.Purpose_moving', 1.2660949965270414),
 ('State_CA', -0.20804856489398188),
 ('State_NY', -0.11963974010359515),
 ('State_TX', 0.4664410980910506),
 ('State_FL', 0.0845211648844992),
 ('State_IL', -0.6378987661078956),
 ('State_GA', -0.031022818789993606),
 ('State_PA', -0.5414618478781456),
 ('State_NJ', -0.4075590754575199),
 ('State_VA', -0.18571726404568817),
 ('State_MA', 0.0970283620582214),
 ('State_OH', -0.3564167384363534),
 ('State_MD', -0.011813553723849513),
 ('State_NC', -0.30478700843665096),
 ('State_CO', -0.06260247552505763),
 ('State_WA', -0.2333591314901582),
 ('State_CT', 0.4741681471141427),
 ('State_AZ', 0.25052524455441905),
 ('State_MI', -0.1590153259062193),
 ('State_MN', -0.0703386100834808),
 ('State_AL', -0.31160319671222536),
 ('State_MO', -0.45843467131371984),
 ('State_NV', -0.09920444641192969),
 ('State_OR', 0.13770304004612874),
 ('State_SC', 0.02612623588682693),
 ('State_WI', -0.13639806801843846),
 ('State_KY', 0.2918161763223477),
 ('State_LA', -0.05513831135002767),
 ('State_KS', 0.25884341735440364),
 ('Home.Ownership_MORTGAGE', -0.4865355869437391),
 ('Home.Ownership_RENT', -0.23526589523587346)]

In [52]:
x_train2=ld_train2.drop('Interest.Rate',axis=1)

In [53]:
predicted_ir=lm.predict(x_train2)

In [54]:
from sklearn.metrics import mean_absolute_error

In [55]:
mean_absolute_error(ld_train2['Interest.Rate'],predicted_ir)

1.6234897645927144

In [56]:
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [57]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [58]:
test_pred=lm.predict(ld_test)

In [64]:
test_pred

array([16.75071177, 15.92918398, 10.61629873,  3.69901384, 15.37372364,
        6.96665732, 15.75735295, 10.66072947, 15.96777875, 12.37994009,
        9.68998048, 14.91306632, 11.39709659, 13.67965158, 13.41493098,
       18.32721439, 10.34970319, 15.75596185, 13.78401877, 13.815648  ,
       22.38234289, 17.46578217, 12.08017975, 14.81582794,  9.69824982,
       11.15138227, 13.14092294, 19.41238083, 11.97994413, 16.98082596,
       15.23101008, 15.4199759 , 12.28697421, 15.14579162, 13.85312538,
       14.19790304, 19.48856895, 11.36134348, 12.00126641, 16.97726323,
       14.14463406, 11.08690746, 14.63681277, 13.08358569, 15.59634096,
       17.02217898, 14.88400554, 17.01870481, 16.89714497, 10.41272896,
       13.54974082, 19.73072202,  9.95798275, 19.6565064 , 15.56382629,
       14.84867304, 17.53537631, 14.34397649, 10.9009074 , 14.40266858,
       13.0773865 , 16.99142033,  8.81121243, 14.56284001, 10.4989698 ,
       11.44446393, 12.83067005, 14.96948203, 12.03352937, 14.4657141 ,
       14.38378143, 17.40780499, 20.71681919, 19.60419203, 13.31473266,
       16.99401753, 11.10145924,  9.95534481, 16.57789721,  7.01717671,
       16.05373839, 10.32749761,  9.50933377, 12.98986152, 13.98394192,
        9.46953164,  9.29877296, 13.9234397 ,  8.57513727, 11.74875441,
       12.20037665, 16.96058276, 13.64027274, 17.86208345, 14.2123432 ,
       10.37364776, 10.2046773 , 17.14034553, 16.91322878, 13.79081601,
       15.30239293, 13.43814383, 15.19909698, 14.53062349, 13.52256225,
       12.38590061,  8.80884651, 11.86293937, 10.86035329, 13.98488892,
       11.83251595, 20.21854595,  7.55584179, 16.7081261 , 15.65103065,
        6.5168586 , 13.26400937, 14.27827589, 15.10876175,  9.28894332,
       16.09781891, 14.31077625,  8.98863286, 12.94678973, 17.3836574 ,
       15.94687428,  8.44366596, 18.49896353,  3.36858521, 12.18562192,
       13.75928679, 13.13705094, 10.03961725, 14.08091336, 18.74144961,
       14.1175314 , 15.53553951, 13.38758279, 13.06463216,  9.52623439,
       14.09172002, 14.40263981, 11.66431309, 11.51220606, 11.65940984,
       17.02377248, 11.92824458, 10.52679843,  7.78713807, 10.10863337,
       11.39482225, 13.88502745, 10.29770696,  7.73327398, 14.09062273,
       12.18402666, 11.09403731,  7.95489775, 14.54300706, 14.6859208 ,
       14.20687005,  7.12415489, 15.06458524, 17.97075485, 15.22655678,
       15.96032977, 14.73903246, 10.05772513, 13.59373195, 16.62323689,
       14.61392042, 12.82315384,  6.55324638, 13.26997359, 10.31177863,
       10.49352446, 11.10979884,  8.55405855,  9.6355654 , 11.61969217,
       12.91937876, 14.42463653, 10.37353152, 13.36325073, 10.85753561,
       13.97951947,  8.56282763, 17.83938677, 13.63537903,  9.47228769,
        7.64468833, 11.48443059, 16.02596324, 15.46938108, 15.06183113,
       17.97802831,  9.15738861, 18.83437197,  4.80380872, 14.00780643,
       14.52567217, 12.43517779, 18.03221121, 16.68118154,  4.70768859,
       15.53076226, 15.3764851 , 19.67127282, 16.42049325,  8.7446701 ,
       14.76369649, 11.67354913, 12.10293548, 14.60999304, 10.45847399,
       12.34443762, 13.24334492, 20.67066083, 13.80320303,  6.31622077,
        5.63560007,  9.40979081, 17.9261697 , 11.31355559, 15.82279377,
       14.57434908, 11.52997303, 11.60589837, 12.54262067, 10.77160603,
       11.63692259, 14.87474846, 12.70672475, 15.82955991,  7.5549681 ,
       11.27491762, 13.2210504 , 10.45523075,  4.82172335, 19.95084345,
       14.14407441, 19.79970002,  7.85928652, 20.75131786, 12.81373284,
       12.24708828, 20.10372115,  9.22197291,  7.80283447, 12.95099079,
       16.0214883 , 15.02121055, 10.77160998, 14.08991474, 15.15293309,
       18.83855882, 11.34440152,  8.00444354, 12.64252361, 18.03351835,
       16.37730877, 13.3827055 , 18.45095644,  7.45534961, 19.87956273,
        8.74270145, 15.66870342, 10.8207851 ,  4.51147307, 14.89237698,
       13.45397789, 13.13927733,  6.76024414, 10.66554155,  9.81247715,
        6.63225323, 14.14495443, 13.75622783, 11.03399356, 14.59421077,
       17.08830108, 20.26595897, 16.26353144, 14.23007792, 15.91812614,
        8.16071079, 12.8669146 , 13.47106654, 10.92447161, 11.91114243,
       14.46160288, 10.07965795, 14.53781568,  9.60228969,  7.11013071,
       15.82961566, 11.2053714 , 14.49074762, 17.85325822, 13.01421959])

In [ ]:
pd.DataFrame(test_pred).to_csv("F:/mysubmission.csv",index=False

# RIDGE REGRESSION

In [65]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [66]:
lambdas=np.linspace(1,100,100)

In [67]:
params={'alpha':lambdas}

In [68]:
model=Ridge(fit_intercept=True)

In [69]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
#grid_search will try all the combination and will find which is best penalty&best estimator

In [70]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': array([  1.,   2., ...,  99., 100.])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_absolute_error', verbose=0)

In [71]:
grid_search.best_estimator_

Ridge(alpha=33.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [72]:
grid_search.cv_results_

C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split3_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split4_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split5_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split6_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split7_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split8_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split9_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\91979\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

{'mean_fit_time': array([0.04021299, 0.00279651, 0.00279272, 0.00279624, 0.00120327,
        0.00236158, 0.00359547, 0.00200095, 0.00359519, 0.00239673,
        0.00119834, 0.00312302, 0.00312414, 0.00392315, 0.00276544,
        0.00468626, 0.00312488, 0.00395906, 0.00160224, 0.00156245,
        0.00312421, 0.00039945, 0.00319486, 0.00279593, 0.00279629,
        0.00196586, 0.00156205, 0.00468667, 0.00312026, 0.00312436,
        0.00312426, 0.00156219, 0.00156217, 0.0031244 , 0.00312431,
        0.001562  , 0.00312457, 0.00312417, 0.00156212, 0.00312443,
        0.00312414, 0.00468619, 0.00312417, 0.0031244 , 0.00312421,
        0.00312486, 0.00156212, 0.00312417, 0.00312419, 0.00156217,
        0.00156224, 0.00156217, 0.00312886, 0.0031234 , 0.00312006,
        0.00468857, 0.00312417, 0.00312409, 0.00781186, 0.00624688,
        0.00468645, 0.00468657, 0.00781438, 0.00624783, 0.00937219,
        0.00468633, 0.00468633, 0.00781114, 0.00624874, 0.00468628,
        0.00624857, 0.00781143, 0.00624855, 0.00468063, 0.00625305,
        0.00468192, 0.00312879, 0.00155513, 0.00156217, 0.00312424,
        0.00156224, 0.00156217, 0.00312448, 0.00312412, 0.00312421,
        0.00312407, 0.00312426, 0.00312469, 0.00156219, 0.00312784,
        0.00156217, 0.00312448, 0.00312459, 0.0046864 , 0.00312431,
        0.00156214, 0.00312438, 0.00312419, 0.00312424, 0.00312428]),
 'std_fit_time': array([0.1140129 , 0.00183081, 0.00182846, 0.00183057, 0.00183807,
        0.00469393, 0.00119849, 0.00200097, 0.0011984 , 0.00195692,
        0.00183049, 0.00624608, 0.00624828, 0.0060503 , 0.00463625,
        0.00715838, 0.00624976, 0.00427859, 0.00196238, 0.00468736,
        0.00624843, 0.00119834, 0.00159751, 0.00183037, 0.0018306 ,
        0.00470772, 0.00468614, 0.007159  , 0.00624052, 0.00624871,
        0.00624852, 0.00468657, 0.0046865 , 0.00624881, 0.00624862,
        0.004686  , 0.00624914, 0.00624833, 0.00468636, 0.00624886,
        0.00624828, 0.00715827, 0.00624833, 0.00624881, 0.00624843,
        0.00624971, 0.00468636, 0.00624833, 0.00624838, 0.0046865 ,
        0.00468671, 0.0046865 , 0.00625773, 0.00624681, 0.00624014,
        0.00716191, 0.00624833, 0.00624819, 0.00781188, 0.00765085,
        0.00715867, 0.00715885, 0.00781439, 0.007652  , 0.00765236,
        0.00715849, 0.00715849, 0.00781114, 0.00765311, 0.00715842,
        0.0076529 , 0.00781143, 0.00765287, 0.0071498 , 0.0076584 ,
        0.00715176, 0.00625759, 0.0046654 , 0.0046865 , 0.00624847,
        0.00468671, 0.0046865 , 0.00624895, 0.00624824, 0.00624843,
        0.00624814, 0.00624852, 0.00624938, 0.00468657, 0.00625568,
        0.0046865 , 0.00624895, 0.00624919, 0.0071586 , 0.00624862,
        0.00468643, 0.00624876, 0.00624838, 0.00624847, 0.00624857]),
 'mean_score_time': array([0.00120325, 0.00040305, 0.00080268, 0.00079894, 0.00119841,
        0.0004247 , 0.00079875, 0.00200052, 0.00039589, 0.00079868,
        0.00039947, 0.        , 0.00155861, 0.00206666, 0.00039952,
        0.00156541, 0.00155859, 0.00195794, 0.00119836, 0.00155792,
        0.        , 0.00196171, 0.00119524, 0.00079892, 0.00079892,
        0.00236106, 0.00156221, 0.00156202, 0.00156593, 0.        ,
        0.00156207, 0.00156217, 0.00156217, 0.        , 0.        ,
        0.00156229, 0.        , 0.        , 0.00156212, 0.00156193,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.0031239 , 0.        , 0.00156214, 0.00156209,
        0.        , 0.00156224, 0.00156281, 0.        , 0.00156655,
        0.        , 0.00312099, 0.00312393, 0.00156133, 0.00156205,
        0.00312483, 0.00312448, 0.00624897, 0.00156209, 0.00156217,
        0.00156221, 0.00156202, 0.00156217, 0.00156207, 0.00156214,
        0.00156217, 0.00312421, 0.00156159, 0.0046921 , 0.00312424,
        0.0015625 , 0.00156219, 0.00156198, 0.        , 0.        ,
        0.        , 0.00156217, 0.00156221, 0.        , 0.00156224,
        0.00156219, 0.        , 0.        , 0.00156221, 0.00156217,
        0.0015619 , 0.        , 0.00311975, 0.        , 0.00156214,
        0.        , 0.001562  , 0.        , 0.00156221, 0.00156229]),
 'std_score_time': array([0.00183804, 0.00120914, 0.00160539, 0.00159788, 0.0018306 ,
        0.00127409, 0.0015975 , 0.00200055, 0.00118768, 0.00159736,
        0.00119841, 0.        , 0.00467584, 0.00501198, 0.00119855,
        0.00469623, 0.00467577, 0.00470453, 0.00183053, 0.00467377,
        0.        , 0.00470679, 0.00182578, 0.00159783, 0.00159783,
        0.00469257, 0.00468664, 0.00468607, 0.0046978 , 0.        ,
        0.00468621, 0.0046865 , 0.0046865 , 0.        , 0.        ,
        0.00468686, 0.        , 0.        , 0.00468636, 0.00468578,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.00624781, 0.        , 0.00468643, 0.00468628,
        0.        , 0.00468671, 0.00468843, 0.        , 0.00469966,
        0.        , 0.00624199, 0.00624785, 0.004684  , 0.00468614,
        0.00624967, 0.00624895, 0.01431853, 0.00468628, 0.0046865 ,
        0.00468664, 0.00468607, 0.0046865 , 0.00468621, 0.00468643,
        0.0046865 , 0.00624843, 0.00468478, 0.00716732, 0.00624847,
        0.0046875 , 0.00468657, 0.00468593, 0.        , 0.        ,
        0.        , 0.0046865 , 0.00468664, 0.        , 0.00468671,
        0.00468657, 0.        , 0.        , 0.00468664, 0.0046865 ,
        0.00468571, 0.        , 0.00623952, 0.        , 0.00468643,
        0.        , 0.004686  , 0.        , 0.00468664, 0.00468686]),
 'param_alpha': masked_array(data=[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,
                    11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
                    20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0,
                    29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0,
                    38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0,
                    47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
                    56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0,
                    65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0,
                    74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0,
                    83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0,
                    92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1.0},
  {'alpha': 2.0},
  {'alpha': 3.0},
  {'alpha': 4.0},
  {'alpha': 5.0},
  {'alpha': 6.0},
  {'alpha': 7.0},
  {'alpha': 8.0},
  {'alpha': 9.0},
  {'alpha': 10.0},
  {'alpha': 11.0},
  {'alpha': 12.0},
  {'alpha': 13.0},
  {'alpha': 14.0},
  {'alpha': 15.0},
  {'alpha': 16.0},
  {'alpha': 17.0},
  {'alpha': 18.0},
  {'alpha': 19.0},
  {'alpha': 20.0},
  {'alpha': 21.0},
  {'alpha': 22.0},
  {'alpha': 23.0},
  {'alpha': 24.0},
  {'alpha': 25.0},
  {'alpha': 26.0},
  {'alpha': 27.0},
  {'alpha': 28.0},
  {'alpha': 29.0},
  {'alpha': 30.0},
  {'alpha': 31.0},
  {'alpha': 32.0},
  {'alpha': 33.0},
  {'alpha': 34.0},
  {'alpha': 35.0},
  {'alpha': 36.0},
  {'alpha': 37.0},
  {'alpha': 38.0},
  {'alpha': 39.0},
  {'alpha': 40.0},
  {'alpha': 41.0},
  {'alpha': 42.0},
  {'alpha': 43.0},
  {'alpha': 44.0},
  {'alpha': 45.0},
  {'alpha': 46.0},
  {'alpha': 47.0},
  {'alpha': 48.0},
  {'alpha': 49.0},
  {'alpha': 50.0},
  {'alpha': 51.0},
  {'alpha': 52.0},
  {'alpha': 53.0},
  {'alpha': 54.0},
  {'alpha': 55.0},
  {'alpha': 56.0},
  {'alpha': 57.0},
  {'alpha': 58.0},
  {'alpha': 59.0},
  {'alpha': 60.0},
  {'alpha': 61.0},
  {'alpha': 62.0},
  {'alpha': 63.0},
  {'alpha': 64.0},
  {'alpha': 65.0},
  {'alpha': 66.0},
  {'alpha': 67.0},
  {'alpha': 68.0},
  {'alpha': 69.0},
  {'alpha': 70.0},
  {'alpha': 71.0},
  {'alpha': 72.0},
  {'alpha': 73.0},
  {'alpha': 74.0},
  {'alpha': 75.0},
  {'alpha': 76.0},
  {'alpha': 77.0},
  {'alpha': 78.0},
  {'alpha': 79.0},
  {'alpha': 80.0},
  {'alpha': 81.0},
  {'alpha': 82.0},
  {'alpha': 83.0},
  {'alpha': 84.0},
  {'alpha': 85.0},
  {'alpha': 86.0},
  {'alpha': 87.0},
  {'alpha': 88.0},
  {'alpha': 89.0},
  {'alpha': 90.0},
  {'alpha': 91.0},
  {'alpha': 92.0},
  {'alpha': 93.0},
  {'alpha': 94.0},
  {'alpha': 95.0},
  {'alpha': 96.0},
  {'alpha': 97.0},
  {'alpha': 98.0},
  {'alpha': 99.0},
  {'alpha': 100.0}],
 'split0_test_score': array([-1.72395743, -1.72456747, -1.72512963, -1.72573336, -1.72633434,
        -1.72694892, -1.72755564, -1.72814252, -1.72871606, -1.72931159,
        -1.72989165, -1.73045754, -1.73101041, -1.73155121, -1.73208078,
        -1.73259986, -1.7331091 , -1.73360909, -1.73410033, -1.7345833 ,
        -1.73508665, -1.73558244, -1.73607086, -1.73655223, -1.73702685,
        -1.73749499, -1.73795692, -1.73841285, -1.73886302, -1.7393324 ,
        -1.73981148, -1.74030908, -1.74086701, -1.74144956, -1.74202589,
        -1.74259618, -1.74316058, -1.74371925, -1.74427775, -1.74490617,
        -1.74552851, -1.74620438, -1.74687952, -1.7475616 , -1.74825303,
        -1.74893853, -1.74961819, -1.75029213, -1.75096044, -1.75162322,
        -1.75228057, -1.75293258, -1.75357933, -1.75423829, -1.75490717,
        -1.75557036, -1.75622797, -1.75688009, -1.75752682, -1.75816825,
        -1.75880447, -1.75943557, -1.76006163, -1.76068274, -1.76129896,
        -1.76191039, -1.76253489, -1.76317639, -1.76381304, -1.76444491,
        -1.76507208, -1.76570174, -1.76634183, -1.76697722, -1.76760797,
        -1.76823603, -1.76887947, -1.76951826, -1.77015247, -1.77078216,
        -1.77140739, -1.77202822, -1.77264471, -1.77325691, -1.77386488,
        -1.77446868, -1.77506834, -1.77566394, -1.77625551, -1.77684311,
        -1.77742679, -1.77800659, -1.77858256, -1.77915474, -1.77972318,
        -1.78028793, -1.78084902, -1.7814065 , -1.78196041, -1.78251079]),
 'split1_test_score': array([-1.76222604, -1.75916115, -1.75683102, -1.7548151 , -1.7529058 ,
        -1.75111972, -1.74944707, -1.74785855, -1.74637361, -1.74501273,
        -1.74371654, -1.74248028, -1.74129967, -1.74017079, -1.7390978 ,
        -1.73817699, -1.73729679, -1.73645456, -1.73564788, -1.73487454,
        -1.73417955, -1.73355546, -1.73295601, -1.73237977, -1.73182544,
        -1.73129178, -1.73077768, -1.73028209, -1.72980402, -1.72934259,
        -1.72889693, -1.72846627, -1.72804986, -1.72764702, -1.72725709,
        -1.72687948, -1.72651362, -1.72615897, -1.72581504, -1.7255084 ,
        -1.72521417, -1.72492915, -1.72465294, -1.72438516, -1.72412547,
        -1.72387354, -1.72362904, -1.72339169, -1.72316119, -1.72293728,
        -1.72271971, -1.72250823, -1.72230261, -1.72210264, -1.7219081 ,
        -1.7217188 , -1.72153455, -1.72135517, -1.72118049, -1.72101034,
        -1.72084457, -1.72068302, -1.72052556, -1.72037876, -1.72025726,
        -1.72013909, -1.72002413, -1.71991226, -1.71980339, -1.71969742,
        -1.71959426, -1.7194938 , -1.71942476, -1.71936548, -1.71930855,
        -1.71925391, -1.71920148, -1.71915118, -1.71910295, -1.71905671,
        -1.71901241, -1.71896997, -1.71892935, -1.71889048, -1.71885331,
        -1.71881778, -1.71878385, -1.71875146, -1.71876175, -1.71877363,
        -1.71882153, -1.718872  , -1.71892329, -1.71897538, -1.71902823,
        -1.7190818 , -1.71913607, -1.71919101, -1.71924659, -1.71934238]),
 'split2_test_score': array([-1.77540025, -1.77309825, -1.77110258, -1.76933271, -1.76773926,
        -1.76628927, -1.76532958, -1.76486205, -1.76444423, -1.76406785,
        -1.76372658, -1.76341548, -1.76313061, -1.76286876, -1.76262732,
        -1.76240409, -1.76219722, -1.76200514, -1.76182648, -1.76166008,
        -1.76150491, -1.76136007, -1.76122475, -1.76109825, -1.76097993,
        -1.76086922, -1.7607713 , -1.76070822, -1.7606507 , -1.7605984 ,
        -1.76055097, -1.76050812, -1.76046957, -1.76043506, -1.760405  ,
        -1.76041121, -1.76042413, -1.76044487, -1.76046869, -1.76050896,
        -1.76061395, -1.76072081, -1.76082941, -1.76093963, -1.76113478,
        -1.7613936 , -1.7616518 , -1.76190934, -1.76216618, -1.7624223 ,
        -1.76267766, -1.76293224, -1.763186  , -1.76343894, -1.76369101,
        -1.76394222, -1.76419253, -1.76444193, -1.76469041, -1.76493796,
        -1.76518455, -1.76544512, -1.7657161 , -1.76600447, -1.76633724,
        -1.76669442, -1.76704967, -1.76740301, -1.76775872, -1.7681427 ,
        -1.76852965, -1.76891977, -1.76930721, -1.76969199, -1.77007416,
        -1.77045374, -1.77083076, -1.77120526, -1.77157726, -1.77194681,
        -1.77231391, -1.77267861, -1.77304093, -1.77340091, -1.77375855,
        -1.7741139 , -1.77446698, -1.77481781, -1.77516642, -1.77551284,
        -1.77585708, -1.77619917, -1.77653913, -1.776877  , -1.77721278,
        -1.7775465 , -1.77787818, -1.77820785, -1.77853552, -1.77892019]),
 'split3_test_score': array([-1.64894149, -1.6478807 , -1.64712562, -1.64675499, -1.6464198 ,
        -1.64611068, -1.64582154, -1.64554825, -1.64528788, -1.64503832,
        -1.64479799, -1.6445657 , -1.64435797, -1.64417074, -1.64404542,
        -1.64392468, -1.64382949, -1.64375886, -1.64369133, -1.64362662,
        -1.64356451, -1.6435048 , -1.64344733, -1.64341692, -1.64340772,
        -1.64341662, -1.64342686, -1.64343982, -1.64345765, -1.64347592,
        -1.64349459, -1.6435136 , -1.64353291, -1.64355247, -1.64357224,
        -1.6435922 , -1.6436123 , -1.64363252, -1.64365284, -1.64367323,
        -1.64369366, -1.64371413, -1.6437346 , -1.64375507, -1.64377552,
        -1.64379594, -1.6438163 , -1.64383661, -1.64385685, -1.643877  ,
        -1.64389707, -1.64391705, -1.64393692, -1.64395668, -1.64397633,
        -1.64399585, -1.64401525, -1.64403452, -1.64405366, -1.64407266,
        -1.64409152, -1.64411024, -1.64412881, -1.64414723, -1.64419941,
        -1.64427823, -1.64435644, -1.64443406, -1.6445111 , -1.64458755,
        -1.64466342, -1.64473872, -1.64482387, -1.64490907, -1.6449937 ,
        -1.64507776, -1.64516132, -1.6452726 , -1.64539489, -1.64551647,
        -1.64563736, -1.64575756, -1.64587707, -1.64599589, -1.64614716,
        -1.64629862, -1.64648138, -1.64666903, -1.64685566, -1.64704128,
        -1.64722591, -1.64740954, -1.64759218, -1.64777385, -1.64795455,
        -1.64813429, -1.64831307, -1.64849091, -1.64866781, -1.64884377]),
 'split4_test_score': array([-1.45158693, -1.45030023, -1.44898803, -1.44768491, -1.44640731,
        -1.44524822, -1.44416601, -1.44311454, -1.4421064 , -1.44118133,
        -1.44031476, -1.43947417, -1.43865839, -1.4378662 , -1.43709639,
        -1.43634777, -1.43561923, -1.4349097 , -1.43421816, -1.43358206,
        -1.43298818, -1.43240852, -1.43184769, -1.43133122, -1.43082574,
        -1.4303307 , -1.42986641, -1.42944826, -1.4290847 , -1.42875102,
        -1.42842452, -1.42810485, -1.42779834, -1.42749994, -1.42720747,
        -1.42693675, -1.42670348, -1.42647483, -1.42625059, -1.42603058,
        -1.42581462, -1.42560255, -1.42548879, -1.4254215 , -1.42535682,
        -1.42529463, -1.4252348 , -1.42517724, -1.42512183, -1.42506848,
        -1.4250171 , -1.4249837 , -1.42496614, -1.42494996, -1.42493509,
        -1.42492147, -1.42490904, -1.42489775, -1.42488754, -1.42487837,
        -1.42489577, -1.4249233 , -1.42495084, -1.42497839, -1.42500593,
        -1.42503345, -1.42506096, -1.42508844, -1.42511589, -1.4251433 ,
        -1.42517066, -1.42519798, -1.42522524, -1.42525244, -1.42530778,
        -1.42537623, -1.42547156, -1.42556639, -1.42566071, -1.42575452,
        -1.42584784, -1.42594065, -1.42603297, -1.42612479, -1.42621612,
        -1.42630695, -1.4263973 , -1.42648717, -1.42657655, -1.42667085,
        -1.42679653, -1.42692152, -1.42704584, -1.42716949, -1.42729247,
        -1.42741479, -1.42753645, -1.42765746, -1.42777782, -1.42789753]),
 'split5_test_score': array([-1.6414835 , -1.64061688, -1.63975625, -1.63891109, -1.63808551,
        -1.63728104, -1.63653032, -1.63581891, -1.63512634, -1.63445197,
        -1.63379506, -1.63315483, -1.63253052, -1.63192138, -1.6313267 ,
        -1.6307458 , -1.63017804, -1.62962282, -1.62907958, -1.6285478 ,
        -1.62802697, -1.62751663, -1.62701636, -1.62652573, -1.62604438,
        -1.62557651, -1.62514692, -1.62472641, -1.62431463, -1.62391123,
        -1.6235159 , -1.62312834, -1.62274826, -1.6223754 , -1.6220095 ,
        -1.62165031, -1.62129762, -1.6209512 , -1.62061084, -1.62027635,
        -1.61994755, -1.61962425, -1.61930628, -1.61899349, -1.61868571,
        -1.61839614, -1.61817837, -1.61796822, -1.61778835, -1.61761164,
        -1.617438  , -1.61726733, -1.61709955, -1.61693457, -1.61677231,
        -1.6166127 , -1.61645565, -1.61630111, -1.61614899, -1.61600141,
        -1.61585697, -1.61571478, -1.6155748 , -1.61543696, -1.61530121,
        -1.61517155, -1.61509729, -1.61502807, -1.6149603 , -1.61489392,
        -1.614874  , -1.61486081, -1.61484863, -1.61483742, -1.61482715,
        -1.61481779, -1.61480932, -1.61480169, -1.61480891, -1.6148268 ,
        -1.6148475 , -1.61491439, -1.6149814 , -1.61504852, -1.61511573,
        -1.61518303, -1.61525041, -1.61531784, -1.61538532, -1.61545284,
        -1.61555648, -1.61566177, -1.61576685, -1.61587171, -1.61598663,
        -1.61610701, -1.61622697, -1.61634653, -1.61646566, -1.61658438]),
 'split6_test_score': array([-1.42733122, -1.42629712, -1.42537119, -1.42452081, -1.42375764,
        -1.42324965, -1.42278792, -1.42234962, -1.42193209, -1.42157685,
        -1.42126249, -1.42096239, -1.42067544, -1.42040064, -1.42013716,
        -1.41992075, -1.41976566, -1.41963624, -1.41951501, -1.41941825,
        -1.41935236, -1.41929321, -1.41924043, -1.41919368, -1.41915264,
        -1.41911701, -1.41908653, -1.41906093, -1.41904573, -1.41905926,
        -1.4190868 , -1.41911787, -1.41915229, -1.41918991, -1.41923056,
        -1.4192741 , -1.41932038, -1.41941163, -1.41950782, -1.41960584,
        -1.4197056 , -1.41980698, -1.4199099 , -1.42001428, -1.42014353,
        -1.42028277, -1.42042301, -1.42056418, -1.42070622, -1.42084908,
        -1.4209927 , -1.42113701, -1.42128198, -1.42142755, -1.42157367,
        -1.42172031, -1.42186741, -1.42201495, -1.42216288, -1.42231116,
        -1.42245977, -1.42260866, -1.42275781, -1.42290889, -1.42312142,
        -1.42333363, -1.42354549, -1.42375701, -1.42396815, -1.42417889,
        -1.42438923, -1.42459915, -1.42480864, -1.42501768, -1.42522626,
        -1.42544714, -1.42566894, -1.42589014, -1.42611073, -1.4263307 ,
        -1.42655005, -1.42676876, -1.42698683, -1.42720426, -1.42742104,
        -1.42765502, -1.42789805, -1.42814023, -1.42838415, -1.42863729,
        -1.42888949, -1.42914076, -1.4293911 , -1.42967436, -1.42999391,
        -1.43031204, -1.43062875, -1.43094404, -1.43125793, -1.43157042]),
 'split7_test_score': array([-1.58473434, -1.58302756, -1.58152443, -1.58017884, -1.57896062,
        -1.57784849, -1.57682662, -1.5759514 , -1.57515379, -1.57440189,
        -1.57369186, -1.57302026, -1.57238397, -1.57180772, -1.57140718,
        -1.57103272, -1.57068229, -1.57035404, -1.57004633, -1.56975764,

In [75]:
ridge_model=grid_search.best_estimator_

In [76]:
ridge_model.fit(x_train,y_train)

Ridge(alpha=33.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [77]:
list(zip(x_train1.columns,ridge_model.coef_))

[('Amount.Requested', 0.00016688464041774616),
 ('Debt.To.Income.Ratio', -0.0010983621984813861),
 ('Monthly.Income', -2.932807142732359e-05),
 ('Open.CREDIT.Lines', -0.0369653994781925),
 ('Revolving.CREDIT.Balance', -3.007405575792766e-06),
 ('Inquiries.in.the.Last.6.Months', 0.3413307164472123),
 ('Employment.Length', 0.023461410880268367),
 ('fico', -0.08661774121047676),
 ('Loan.Length_36 months', -2.8437947085204955),
 ('Loan.Purpose_debt_consolidation', -0.37302770704493926),
 ('Loan.Purpose_credit_card', -0.46139481668446675),
 ('Loan.Purpose_other', 0.3772054314689258),
 ('Loan.Purpose_home_improvement', -0.23236194482918293),
 ('Loan.Purpose_major_purchase', -0.015381895147261402),
 ('Loan.Purpose_small_business', 0.08882845085327212),
 ('Loan.Purpose_car', -0.03564202463569509),
 ('Loan.Purpose_wedding', -0.32812678137838075),
 ('Loan.Purpose_medical', -0.10054824598487501),
 ('Loan.Purpose_moving', 0.4613454804899605),
 ('State_CA', -0.0951570103953197),
 ('State_NY', -0.041949907199728034),
 ('State_TX', 0.4318222305811547),
 ('State_FL', 0.022251705428505977),
 ('State_IL', -0.3493519977994904),
 ('State_GA', -0.08382843750988957),
 ('State_PA', -0.27827993145156976),
 ('State_NJ', -0.20855482786724894),
 ('State_VA', -0.0017290230137543374),
 ('State_MA', -0.015534122068554363),
 ('State_OH', -0.1361627032237402),
 ('State_MD', 0.01167335496499967),
 ('State_NC', -0.2513617484127659),
 ('State_CO', 0.0910837461771693),
 ('State_WA', -0.08735693366663465),
 ('State_CT', 0.25656052141985153),
 ('State_AZ', 0.27161130152048024),
 ('State_MI', -0.006081705872379864),
 ('State_MN', -0.04565284970434373),
 ('State_AL', 0.012297190383125017),
 ('State_MO', -0.13205918725666702),
 ('State_NV', -0.009275354462053412),
 ('State_OR', 0.047576792700091845),
 ('State_SC', 0.009185119035970317),
 ('State_WI', 0.07092320534168026),
 ('State_KY', 0.07329943995197469),
 ('State_LA', 0.10974653721447994),
 ('State_KS', 0.13030437068475054),
 ('Home.Ownership_MORTGAGE', -0.30482070982181886),
 ('Home.Ownership_RENT', -0.09889287141590924)]

In [80]:
test_pred=grid_search.predict(ld_test)

In [ ]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

# LASSO REGRESSION

In [79]:
lambdas=np.linspace(1,10,100)
model=Lasso(fit_intercept=True)
params={'alpha':lambdas}

In [81]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [82]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': array([ 1.     ,  1.09091, ...,  9.90909, 10.     ])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_absolute_error', verbose=0)

In [83]:
grid_search.best_estimator_

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [87]:
lasso_model=grid_search.best_estimator_

In [88]:
lasso_model.fit(x_train,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [89]:
list(zip(x_train1.columns,lasso_model.coef_))

[('Amount.Requested', 0.00022362833779463023),
 ('Debt.To.Income.Ratio', -0.0),
 ('Monthly.Income', -5.053908873061881e-05),
 ('Open.CREDIT.Lines', -0.0),
 ('Revolving.CREDIT.Balance', -8.708177177588524e-06),
 ('Inquiries.in.the.Last.6.Months', 0.0),
 ('Employment.Length', 0.0),
 ('fico', -0.08646765227679754),
 ('Loan.Length_36 months', -0.0),
 ('Loan.Purpose_debt_consolidation', -0.0),
 ('Loan.Purpose_credit_card', -0.0),
 ('Loan.Purpose_other', 0.0),
 ('Loan.Purpose_home_improvement', 0.0),
 ('Loan.Purpose_major_purchase', 0.0),
 ('Loan.Purpose_small_business', 0.0),
 ('Loan.Purpose_car', 0.0),
 ('Loan.Purpose_wedding', -0.0),
 ('Loan.Purpose_medical', -0.0),
 ('Loan.Purpose_moving', 0.0),
 ('State_CA', -0.0),
 ('State_NY', 0.0),
 ('State_TX', 0.0),
 ('State_FL', -0.0),
 ('State_IL', -0.0),
 ('State_GA', -0.0),
 ('State_PA', -0.0),
 ('State_NJ', -0.0),
 ('State_VA', 0.0),
 ('State_MA', -0.0),
 ('State_OH', -0.0),
 ('State_MD', 0.0),
 ('State_NC', -0.0),
 ('State_CO', 0.0),
 ('State_WA', 0.0),
 ('State_CT', 0.0),
 ('State_AZ', 0.0),
 ('State_MI', -0.0),
 ('State_MN', 0.0),
 ('State_AL', 0.0),
 ('State_MO', 0.0),
 ('State_NV', -0.0),
 ('State_OR', -0.0),
 ('State_SC', -0.0),
 ('State_WI', 0.0),
 ('State_KY', 0.0),
 ('State_LA', 0.0),
 ('State_KS', 0.0),
 ('Home.Ownership_MORTGAGE', -0.0),
 ('Home.Ownership_RENT', 0.0)]